@import 'main';

@import 'header-shrink';

@import 'catalog';

@import 'add-info';

@import 'subscription';

@import 'footer';

@media screen and (max-width: 1109.98px) {
    .catalog__filters-cont{
        padding-top: 100px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 30px;
    }
}

@media screen and (max-width: 767.98px) {
    .header{
        width: 100%;
    }

    .header-menu{
        justify-content: space-between;

    }

    .header-menu__nav-cont{
        display: none;
    }

    .header-menu__right-bars-cont{
        display: none;
    }

    .header-menu__logo-cont{
        margin-left: 35px;
    }

    .header-menu__menu-burger{
        width: 50px;
        height: 50px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 8.33px;

        margin-right: 34px;
    }

    .header-menu__menu-burger>span{
        background-image: url(../images/icons/burger-line.svg);
        background-position: center;
        width: 33.33px;
        height: 4.17px;
    }

    .header-menu__menu-burger>span:nth-child(2){
        background-image: url(../images/icons/burger-line_short.svg);
        background-repeat: no-repeat;
        background-position: left;
    }
}